/* .container {
  position: absolute;
  top: 170px;
  right: 30px;
  width: 500px;
  height: 100%;
  background-color: white;
  border: 1px solid lightgray;
  z-index: 9999;
} */

.content {
  padding-bottom: 120px;
  background-color: white;
  position: fixed;
  top: 120px;
  bottom: 0;
  right: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  scroll-behavior: smooth;
}

.content > section {
  width: 600px;
  min-height: 400px;
  border: 1px solid red;
  margin: 0 auto;
}
