.rb {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 20px;
}
.rbContents {
  width: 1400px;
  height: 80px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
}
.rbStar {
  font-size: 30px;
  margin-left: 30px; /*후기 마진*/
  margin-right: 10px;
}
.user {
  font-size: 20px;
  margin: 10px;
}
.date {
  font-size: 20px;
  margin: 10px;
}
.time {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 800px;
}

.rbTextBox {
  width: 1400px;
  height: 340px;
  display: flex;
}
.rbText {
  font-size: 20px;
  margin: 30px;
}
.rbPhotoBox {
  width: 1400px;
  height: 300px;
  border-top: 1px solid rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rbPhotoBox img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  margin-right: 10px;
}
