/* .container {
  position: absolute;
  top: 170px;
  right: 30px;
  width: 500px;
  height: 100%;
  background-color: white;
  border: 1px solid lightgray;
  z-index: 9999;
} */

.container {
  background-color: white;
  width: 300px;
}

.content {
  padding-top: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  transition: 0.4s ease;
  color: #202020;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  scroll-behavior: smooth;
  /* box-shadow: -20px 0px 40px 3px gray; */
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px,
    rgba(0, 0, 0, 0.5) 2px 2px 3px 3px;
}
.content::-webkit-scrollbar {
  width: 10px;
  backdrop-filter: blur(60px);
}
.content::-webkit-scrollbar-thumb {
  background-color: gray;
}

.content > section {
  width: 600px;
  min-height: 400px;
  margin: 0 auto;
  border-bottom: 1px solid lightgray;
  overflow: hidden;
  padding: 20px 0;
}

.content > section h3 {
  text-align: center;
  font-weight: bold;
}

/* 사용용도 선택 ----------------------------------------  */
.purpose {
  padding: 20px 0 20px 30px;
}
/* radio버튼 */
.purpose > label > input[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  transition: border 0.5s ease-in-out;
}
.purpose > label > input[type="radio"]:checked {
  border: 0.4em solid tomato;
}
.purpose > label > input[type="radio"]:focus-visible {
  outline-offset: max(2px, 0.1em);
  outline: max(2px, 0.1em) dotted tomato;
}
.purpose > label > input[type="radio"]:hover {
  box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
  cursor: pointer;
}

.purpose > label span {
  margin-left: 10px;
  font-size: 20px;
}

.purpose > div {
  padding-left: 30px;
}

/* 결제하기 <booking.js> ------------------------------  */
.pay {
  margin-top: 100px;
  border: 1px solid lightgray;
  padding: 20px 0;
  text-align: center;
}

.totalCost {
  padding: 5px 40px;
  font-size: 20px;
}

/* 결제방법 <paymentsBtn.js> ---------------------------- */
.payMethod {
  margin: 0 auto;
  width: 500px;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 10px;
}
