/* footer ------------------------------------------------------- */
.footer_wrap {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.footer_inner {
  width: 800px;
  height: 100%;
}

.content1 {
  width: 100%;
}

.content1 ul {
  height: 100%;
  display: flex;
  padding-left: 50px;
}

.content1 ul li {
  padding: 15px 30px 10px 30px;
}

.content1 ul li a {
  color: white;
}

.content2 {
  display: flex;
  line-height: 10px;
  width: 100%;
  text-align: left;
  padding-left: 80px;
}

.content3 {
  padding: 20px 10px 0 0;
  text-align: right;
}

.topBtn {
  display: flex;
  justify-content: right;
  padding-bottom: 100px;
}
